<!-- <ion-nav-bar>
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button> -->


<!-- </ion-nav-bar> -->

<ion-nav-bar class="view-content">
    <ion-nav-buttons side="right">
      <button class="button button-icon ion-ios-gear-outline"></button>
    </ion-nav-buttons>
</ion-nav-bar>


 
<ion-tabs class="tabs-background-positive tabs-color-light"> 
<ion-tab title="Rooms"  href="#/main/rooms">
	<ion-nav-view name="rooms-tab"></ion-nav-view>
</ion-tab>
	 
	 
<ion-tab title="Category"  href="#/main/category">
	<ion-nav-view name="category-tab"></ion-nav-view>
</ion-tab>
	 
</ion-tabs>


