<ion-view title="Dashboard">

 <ion-content>

 <ion-list>
  <div ng-repeat="dict in devicesinRoomArray" >
   
    <span style="padding-left:15px" ng-repeat="(category,devices) in dict"><div class="category">{{category}}</div>

    <ion-item ng-repeat="device in devices"><img ng-src="/img/kids_bedroom_icon.png" style="width: 12%; height: 12%; padding-right:15px; ">{{device}}</ion-item>

    </span>

   
    <!-- <span class="item-note" style="padding-top:10px">
      {{countRoomStatusArray[$index]}} of {{countRoomArray[$index]}}
    </span>
 -->
    
  </div>
</ion-list>

<!-- <div class="list card" ng-repeat="item in room1.rooms" >

  <a href="#" class="item item-icon-left">
    <img ng-src="/img/kids_bedroom_icon.png" style="width: 5%; height: 5%;"">
    {{item.name}}
  </a>
 </div> -->
 </ion-content>
</ion-view>